# ide stuff
.project
.cproject
.vscode

# build output
**/*.exe
src/firo
src/firod
src/firo-cli
src/firo-tx
src/test/test_bitcoin
src/test/test_bitcoin_fuzzy
src/qt/test/test_bitcoin-qt

# autoreconf
**/*.tar.gz
**/Makefile.in
**/aclocal.m4
**/autom4te.cache
**/config.log
**/config.status
**/configure
**/libtool
**/stamp-h1
**/config.guess
**/config.sub
**/depcomp
**/install-sh
**/ltmain.sh
**/libtool.m4
**/lt~obsolete.m4
**/ltoptions.m4
**/ltsugar.m4
**/ltversion.m4
**/missing
**/compile
**/test-driver
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/tor.timestamp*

**/.deps
**/.dirstamp
**/.libs

**/.*.swp
**/*.*~*
**/*.bak
**/*.rej
**/*.orig
**/*.pyc
**/*.o
**/*.o-*
**/*.patch
**/*.a
**/*.pb.cc
**/*.pb.h

**/*.log
**/*.trs
**/*.dmg

**/*.json.h
**/*.raw.h

#libtool object files
**/*.lo
**/*.la

# Compilation and Qt preprocessor part
**/*.qm
**/Makefile
**/firo-qt*
**/Firo-Qt.app

# Unit-tests
**/Makefile.test
**/firo-qt_test

# Resources cpp
**/qrc_*.cpp

# Mac specific
**/.DS_Store
build

#lcov
**/*.gcno
**/*.gcda
*.info
test_bitcoin.coverage
total.coverage
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
src/test/buildenv.py

!src/leveldb*/Makefile

doc/doxygen

libfiroconsensus.pc
contrib/devtools/split-debug.sh
