!src/leveldb*/Makefile
*.*~*
*.a
*.bak
*.dmg
*.exe
*.gcda
*.gcno
*.json.h
*.la
*.lo
*.log
*.o
*.o-*
*.orig
*.patch
*.pb.cc
*.pb.h
*.pyc
*.qm
*.raw.h
*.rej
*.tar.gz
*.trs
.*.swp
.DS_Store
.cproject
.deps
.dirstamp
.libs
.project
.vscode
/*.info
/doc/doxygen/
/qa/pull-tester/run-bitcoind-for-test.sh
/qa/pull-tester/tests_config.py
/src/test/test_bitcoin
Makefile
Makefile.in
Makefile.test
Zcoin-Qt.app
aclocal.m4
autom4te.cache/
build
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
build-aux/missing
build-aux/test-driver
config.log
config.status
configure
contrib/devtools/split-debug.sh
coverage_percent.txt
libtool
libzcoinconsensus.pc
linux-build
linux-coverage-build
qrc_*.cpp
share/qt/Info.plist
share/setup.nsi
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
src/qt/*.moc
src/qt/forms/ui_*.h
src/qt/moc_*.cpp
src/qt/test/moc*.cpp
src/qt/test/test_zcoin-qt
src/test/buildenv.py
src/test/test_zcoin
src/test/test_zcoin_fuzzy
src/tor.timestamp*
src/univalue/gen
src/zcoin
src/zcoin-cli
src/zcoin-tx
src/zcoind
test/cache/*
test/config.ini
test_zcoin.coverage/
total.coverage/
win32-build
zcoin-qt
zcoin-qt_test
