tignore
.project
Makefile
Makefile.in
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
build-aux/missing
build-aux/test-driver
config.log
config.status
configure
contrib/devtools/split-debug.sh
libbitcoinconsensus.pc
libtool
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
share/qt/Info.plist
share/setup.nsi
src/.deps/libbitcoin_common_a-amount.Po
src/.deps/libbitcoin_common_a-auxpow.Po
src/.deps/libbitcoin_common_a-base58.Po
src/.deps/libbitcoin_common_a-chainparams.Po
src/.deps/libbitcoin_common_a-coins.Po
src/.deps/libbitcoin_common_a-compressor.Po
src/.deps/libbitcoin_common_a-core_read.Po
src/.deps/libbitcoin_common_a-core_write.Po
src/.deps/libbitcoin_common_a-key.Po
src/.deps/libbitcoin_common_a-keystore.Po
src/.deps/libbitcoin_common_a-netbase.Po
src/.deps/libbitcoin_common_a-protocol.Po
src/.deps/libbitcoin_common_a-scheduler.Po
src/.deps/libbitcoin_consensus_a-arith_uint256.Po
src/.deps/libbitcoin_consensus_a-hash.Po
src/.deps/libbitcoin_consensus_a-pubkey.Po
src/.deps/libbitcoin_consensus_a-uint256.Po
src/.deps/libbitcoin_consensus_a-utilstrencodings.Po
src/.deps/libbitcoin_server_a-addrman.Po
src/.deps/libbitcoin_server_a-blockencodings.Po
src/.deps/libbitcoin_server_a-bloom.Po
src/.deps/libbitcoin_server_a-chain.Po
src/.deps/libbitcoin_server_a-checkpoints.Po
src/.deps/libbitcoin_server_a-dbwrapper.Po
src/.deps/libbitcoin_server_a-httprpc.Po
src/.deps/libbitcoin_server_a-httpserver.Po
src/.deps/libbitcoin_server_a-init.Po
src/.deps/libbitcoin_server_a-main.Po
src/.deps/libbitcoin_server_a-merkleblock.Po
src/.deps/libbitcoin_server_a-miner.Po
src/.deps/libbitcoin_server_a-net.Po
src/.deps/libbitcoin_server_a-noui.Po
src/.deps/libbitcoin_server_a-pow.Po
src/.deps/libbitcoin_server_a-rest.Po
src/.deps/libbitcoin_server_a-timedata.Po
src/.deps/libbitcoin_server_a-torcontrol.Po
src/.deps/libbitcoin_server_a-txdb.Po
src/.deps/libbitcoin_server_a-txmempool.Po
src/.deps/libbitcoin_server_a-ui_interface.Po
src/.deps/libbitcoin_server_a-validation.Po
src/.deps/libbitcoin_server_a-validationinterface.Po
src/.deps/libbitcoin_server_a-versionbits.Po
src/.deps/libbitcoin_util_a-chainparamsbase.Po
src/.deps/libbitcoin_util_a-clientversion.Po
src/.deps/libbitcoin_util_a-random.Po
src/.deps/libbitcoin_util_a-sync.Po
src/.deps/libbitcoin_util_a-util.Po
src/.deps/libbitcoin_util_a-utilmoneystr.Po
src/.deps/libbitcoin_util_a-utilstrencodings.Po
src/.deps/libbitcoin_util_a-utiltime.Po
src/.deps/libbitcoinconsensus_la-arith_uint256.Plo
src/.deps/libbitcoinconsensus_la-hash.Plo
src/.deps/libbitcoinconsensus_la-pubkey.Plo
src/.deps/libbitcoinconsensus_la-uint256.Plo
src/.deps/libbitcoinconsensus_la-utilstrencodings.Plo
src/.deps/zcoin_cli-bitcoin-cli.Po
src/.deps/zcoin_tx-bitcoin-tx.Po
src/.deps/zcoind-bitcoind.Po
src/Makefile
src/Makefile.in
src/compat/.deps/.dirstamp
src/compat/.deps/libbitcoin_util_a-glibc_compat.Po
src/compat/.deps/libbitcoin_util_a-glibc_sanity.Po
src/compat/.deps/libbitcoin_util_a-glibcxx_sanity.Po
src/compat/.deps/libbitcoin_util_a-strnlen.Po
src/compat/.deps/libbitcoinconsensus_la-glibc_compat.Plo
src/compat/.dirstamp
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/bitcoin-config.h.in~
src/config/stamp-h1
src/consensus/.deps/.dirstamp
src/consensus/.deps/libbitcoin_consensus_a-merkle.Po
src/consensus/.deps/libbitcoinconsensus_la-merkle.Plo
src/consensus/.dirstamp
src/crypto/.deps/.dirstamp
src/crypto/.deps/crypto_libbitcoin_crypto_a-aes.Po
src/crypto/.deps/crypto_libbitcoin_crypto_a-hmac_sha256.Po
src/crypto/.deps/crypto_libbitcoin_crypto_a-hmac_sha512.Po
src/crypto/.deps/crypto_libbitcoin_crypto_a-ripemd160.Po
src/crypto/.deps/crypto_libbitcoin_crypto_a-sha1.Po
src/crypto/.deps/crypto_libbitcoin_crypto_a-sha256.Po
src/crypto/.deps/crypto_libbitcoin_crypto_a-sha512.Po
src/crypto/.deps/libbitcoin_util_a-scrypt.Po
src/crypto/.deps/libbitcoinconsensus_la-aes.Plo
src/crypto/.deps/libbitcoinconsensus_la-hmac_sha256.Plo
src/crypto/.deps/libbitcoinconsensus_la-hmac_sha512.Plo
src/crypto/.deps/libbitcoinconsensus_la-ripemd160.Plo
src/crypto/.deps/libbitcoinconsensus_la-sha1.Plo
src/crypto/.deps/libbitcoinconsensus_la-sha256.Plo
src/crypto/.deps/libbitcoinconsensus_la-sha512.Plo
src/crypto/.dirstamp
src/crypto/Lyra2Z/.deps/.dirstamp
src/crypto/Lyra2Z/.deps/libbitcoin_consensus_a-Lyra2.Po
src/crypto/Lyra2Z/.deps/libbitcoin_consensus_a-Lyra2Z.Po
src/crypto/Lyra2Z/.deps/libbitcoin_consensus_a-Sponge.Po
src/crypto/Lyra2Z/.deps/libbitcoin_consensus_a-blake.Po
src/crypto/Lyra2Z/.deps/libbitcoinconsensus_la-Lyra2.Plo
src/crypto/Lyra2Z/.deps/libbitcoinconsensus_la-Lyra2Z.Plo
src/crypto/Lyra2Z/.deps/libbitcoinconsensus_la-Sponge.Plo
src/crypto/Lyra2Z/.deps/libbitcoinconsensus_la-blake.Plo
src/crypto/Lyra2Z/.dirstamp
src/leveldb/.dirstamp
src/leveldb/db/.deps/.dirstamp
src/leveldb/db/.deps/leveldb_libleveldb_a-builder.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-c.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-db_impl.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-db_iter.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-dbformat.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-dumpfile.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-filename.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-log_reader.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-log_writer.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-memtable.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-repair.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-table_cache.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-version_edit.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-version_set.Po
src/leveldb/db/.deps/leveldb_libleveldb_a-write_batch.Po
src/leveldb/db/.dirstamp
src/leveldb/helpers/memenv/.deps/.dirstamp
src/leveldb/helpers/memenv/.deps/leveldb_libmemenv_a-memenv.Po
src/leveldb/helpers/memenv/.dirstamp
src/leveldb/port/.deps/.dirstamp
src/leveldb/port/.deps/leveldb_libleveldb_a-port_posix.Po
src/leveldb/port/.deps/leveldb_libleveldb_a-port_win.Po
src/leveldb/port/.dirstamp
src/leveldb/table/.deps/.dirstamp
src/leveldb/table/.deps/leveldb_libleveldb_a-block.Po
src/leveldb/table/.deps/leveldb_libleveldb_a-block_builder.Po
src/leveldb/table/.deps/leveldb_libleveldb_a-filter_block.Po
src/leveldb/table/.deps/leveldb_libleveldb_a-format.Po
src/leveldb/table/.deps/leveldb_libleveldb_a-iterator.Po
src/leveldb/table/.deps/leveldb_libleveldb_a-merger.Po
src/leveldb/table/.deps/leveldb_libleveldb_a-table.Po
src/leveldb/table/.deps/leveldb_libleveldb_a-table_builder.Po
src/leveldb/table/.deps/leveldb_libleveldb_a-two_level_iterator.Po
src/leveldb/table/.dirstamp
src/leveldb/util/.deps/.dirstamp
src/leveldb/util/.deps/leveldb_libleveldb_a-arena.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-bloom.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-cache.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-coding.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-comparator.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-crc32c.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-env.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-env_posix.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-env_win.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-filter_policy.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-hash.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-histogram.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-logging.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-options.Po
src/leveldb/util/.deps/leveldb_libleveldb_a-status.Po
src/leveldb/util/.dirstamp
src/libzerocoin/.deps/.dirstamp
src/libzerocoin/.deps/libbitcoin_util_a-Accumulator.Po
src/libzerocoin/.deps/libbitcoin_util_a-AccumulatorProofOfKnowledge.Po
src/libzerocoin/.deps/libbitcoin_util_a-Coin.Po
src/libzerocoin/.deps/libbitcoin_util_a-CoinSpend.Po
src/libzerocoin/.deps/libbitcoin_util_a-Commitment.Po
src/libzerocoin/.deps/libbitcoin_util_a-ParamGeneration.Po
src/libzerocoin/.deps/libbitcoin_util_a-Params.Po
src/libzerocoin/.deps/libbitcoin_util_a-SerialNumberSignatureOfKnowledge.Po
src/libzerocoin/.deps/libbitcoin_util_a-SpendMetaData.Po
src/libzerocoin/.dirstamp
src/policy/.deps/.dirstamp
src/policy/.deps/libbitcoin_server_a-fees.Po
src/policy/.deps/libbitcoin_server_a-policy.Po
src/policy/.deps/libbitcoin_wallet_a-rbf.Po
src/policy/.dirstamp
src/primitives/.deps/.dirstamp
src/primitives/.deps/libbitcoin_consensus_a-transaction.Po
src/primitives/.deps/libbitcoin_util_a-block.Po
src/primitives/.deps/libbitcoinconsensus_la-transaction.Plo
src/primitives/.dirstamp
src/qt/.deps/.dirstamp
src/qt/.deps/qt_libzcoinqt_a-addressbookpage.Po
src/qt/.deps/qt_libzcoinqt_a-addresstablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-askpassphrasedialog.Po
src/qt/.deps/qt_libzcoinqt_a-bantablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-bitcoinaddressvalidator.Po
src/qt/.deps/qt_libzcoinqt_a-bitcoinamountfield.Po
src/qt/.deps/qt_libzcoinqt_a-bitcoingui.Po
src/qt/.deps/qt_libzcoinqt_a-bitcoinunits.Po
src/qt/.deps/qt_libzcoinqt_a-clientmodel.Po
src/qt/.deps/qt_libzcoinqt_a-coincontroldialog.Po
src/qt/.deps/qt_libzcoinqt_a-coincontroltreewidget.Po
src/qt/.deps/qt_libzcoinqt_a-csvmodelwriter.Po
src/qt/.deps/qt_libzcoinqt_a-editaddressdialog.Po
src/qt/.deps/qt_libzcoinqt_a-guiutil.Po
src/qt/.deps/qt_libzcoinqt_a-intro.Po
src/qt/.deps/qt_libzcoinqt_a-moc_addressbookpage.Po
src/qt/.deps/qt_libzcoinqt_a-moc_addresstablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-moc_askpassphrasedialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_bantablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-moc_bitcoinaddressvalidator.Po
src/qt/.deps/qt_libzcoinqt_a-moc_bitcoinamountfield.Po
src/qt/.deps/qt_libzcoinqt_a-moc_bitcoingui.Po
src/qt/.deps/qt_libzcoinqt_a-moc_bitcoinunits.Po
src/qt/.deps/qt_libzcoinqt_a-moc_clientmodel.Po
src/qt/.deps/qt_libzcoinqt_a-moc_coincontroldialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_coincontroltreewidget.Po
src/qt/.deps/qt_libzcoinqt_a-moc_csvmodelwriter.Po
src/qt/.deps/qt_libzcoinqt_a-moc_editaddressdialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_guiutil.Po
src/qt/.deps/qt_libzcoinqt_a-moc_intro.Po
src/qt/.deps/qt_libzcoinqt_a-moc_macdockiconhandler.Po
src/qt/.deps/qt_libzcoinqt_a-moc_macnotificationhandler.Po
src/qt/.deps/qt_libzcoinqt_a-moc_notificator.Po
src/qt/.deps/qt_libzcoinqt_a-moc_openuridialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_optionsdialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_optionsmodel.Po
src/qt/.deps/qt_libzcoinqt_a-moc_overviewpage.Po
src/qt/.deps/qt_libzcoinqt_a-moc_paymentserver.Po
src/qt/.deps/qt_libzcoinqt_a-moc_peertablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-moc_qvalidatedlineedit.Po
src/qt/.deps/qt_libzcoinqt_a-moc_qvaluecombobox.Po
src/qt/.deps/qt_libzcoinqt_a-moc_receivecoinsdialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_receiverequestdialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_recentrequeststablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-moc_rpcconsole.Po
src/qt/.deps/qt_libzcoinqt_a-moc_sendcoinsdialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_sendcoinsentry.Po
src/qt/.deps/qt_libzcoinqt_a-moc_signverifymessagedialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_splashscreen.Po
src/qt/.deps/qt_libzcoinqt_a-moc_trafficgraphwidget.Po
src/qt/.deps/qt_libzcoinqt_a-moc_transactiondesc.Po
src/qt/.deps/qt_libzcoinqt_a-moc_transactiondescdialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_transactionfilterproxy.Po
src/qt/.deps/qt_libzcoinqt_a-moc_transactiontablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-moc_transactionview.Po
src/qt/.deps/qt_libzcoinqt_a-moc_utilitydialog.Po
src/qt/.deps/qt_libzcoinqt_a-moc_walletframe.Po
src/qt/.deps/qt_libzcoinqt_a-moc_walletmodel.Po
src/qt/.deps/qt_libzcoinqt_a-moc_walletview.Po
src/qt/.deps/qt_libzcoinqt_a-moc_zerocoinpage.Po
src/qt/.deps/qt_libzcoinqt_a-networkstyle.Po
src/qt/.deps/qt_libzcoinqt_a-notificator.Po
src/qt/.deps/qt_libzcoinqt_a-openuridialog.Po
src/qt/.deps/qt_libzcoinqt_a-optionsdialog.Po
src/qt/.deps/qt_libzcoinqt_a-optionsmodel.Po
src/qt/.deps/qt_libzcoinqt_a-overviewpage.Po
src/qt/.deps/qt_libzcoinqt_a-paymentrequest.pb.Po
src/qt/.deps/qt_libzcoinqt_a-paymentrequestplus.Po
src/qt/.deps/qt_libzcoinqt_a-paymentserver.Po
src/qt/.deps/qt_libzcoinqt_a-peertablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-platformstyle.Po
src/qt/.deps/qt_libzcoinqt_a-qrc_bitcoin.Po
src/qt/.deps/qt_libzcoinqt_a-qrc_bitcoin_locale.Po
src/qt/.deps/qt_libzcoinqt_a-qvalidatedlineedit.Po
src/qt/.deps/qt_libzcoinqt_a-qvaluecombobox.Po
src/qt/.deps/qt_libzcoinqt_a-receivecoinsdialog.Po
src/qt/.deps/qt_libzcoinqt_a-receiverequestdialog.Po
src/qt/.deps/qt_libzcoinqt_a-recentrequeststablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-rpcconsole.Po
src/qt/.deps/qt_libzcoinqt_a-sendcoinsdialog.Po
src/qt/.deps/qt_libzcoinqt_a-sendcoinsentry.Po
src/qt/.deps/qt_libzcoinqt_a-signverifymessagedialog.Po
src/qt/.deps/qt_libzcoinqt_a-splashscreen.Po
src/qt/.deps/qt_libzcoinqt_a-trafficgraphwidget.Po
src/qt/.deps/qt_libzcoinqt_a-transactiondesc.Po
src/qt/.deps/qt_libzcoinqt_a-transactiondescdialog.Po
src/qt/.deps/qt_libzcoinqt_a-transactionfilterproxy.Po
src/qt/.deps/qt_libzcoinqt_a-transactionrecord.Po
src/qt/.deps/qt_libzcoinqt_a-transactiontablemodel.Po
src/qt/.deps/qt_libzcoinqt_a-transactionview.Po
src/qt/.deps/qt_libzcoinqt_a-utilitydialog.Po
src/qt/.deps/qt_libzcoinqt_a-walletframe.Po
src/qt/.deps/qt_libzcoinqt_a-walletmodel.Po
src/qt/.deps/qt_libzcoinqt_a-walletmodeltransaction.Po
src/qt/.deps/qt_libzcoinqt_a-walletview.Po
src/qt/.deps/qt_libzcoinqt_a-winshutdownmonitor.Po
src/qt/.deps/qt_libzcoinqt_a-zerocoinpage.Po
src/qt/.deps/qt_zcoin_qt-bitcoin.Po
src/qt/.deps/qt_zcoin_qt-macdockiconhandler.Po
src/qt/.deps/qt_zcoin_qt-macnotificationhandler.Po
src/qt/.dirstamp
src/rpc/.deps/.dirstamp
src/rpc/.deps/libbitcoin_cli_a-client.Po
src/rpc/.deps/libbitcoin_server_a-blockchain.Po
src/rpc/.deps/libbitcoin_server_a-mining.Po
src/rpc/.deps/libbitcoin_server_a-misc.Po
src/rpc/.deps/libbitcoin_server_a-net.Po
src/rpc/.deps/libbitcoin_server_a-rawtransaction.Po
src/rpc/.deps/libbitcoin_server_a-server.Po
src/rpc/.deps/libbitcoin_util_a-protocol.Po
src/rpc/.dirstamp
src/script/.deps/.dirstamp
src/script/.deps/libbitcoin_common_a-sign.Po
src/script/.deps/libbitcoin_common_a-standard.Po
src/script/.deps/libbitcoin_consensus_a-bitcoinconsensus.Po
src/script/.deps/libbitcoin_consensus_a-interpreter.Po
src/script/.deps/libbitcoin_consensus_a-script.Po
src/script/.deps/libbitcoin_consensus_a-script_error.Po
src/script/.deps/libbitcoin_server_a-ismine.Po
src/script/.deps/libbitcoin_server_a-sigcache.Po
src/script/.deps/libbitcoinconsensus_la-bitcoinconsensus.Plo
src/script/.deps/libbitcoinconsensus_la-interpreter.Plo
src/script/.deps/libbitcoinconsensus_la-script.Plo
src/script/.deps/libbitcoinconsensus_la-script_error.Plo
src/script/.dirstamp
src/support/.deps/.dirstamp
src/support/.deps/libbitcoin_util_a-cleanse.Po
src/support/.deps/libbitcoin_util_a-pagelocker.Po
src/support/.dirstamp
src/test/buildenv.py
src/wallet/.deps/.dirstamp
src/wallet/.deps/libbitcoin_wallet_a-crypter.Po
src/wallet/.deps/libbitcoin_wallet_a-db.Po
src/wallet/.deps/libbitcoin_wallet_a-rpcdump.Po
src/wallet/.deps/libbitcoin_wallet_a-rpcwallet.Po
src/wallet/.deps/libbitcoin_wallet_a-wallet.Po
src/wallet/.deps/libbitcoin_wallet_a-walletdb.Po
src/wallet/.dirstamp
src/zmq/.deps/libbitcoin_zmq_a-zmqabstractnotifier.Po
src/zmq/.deps/libbitcoin_zmq_a-zmqnotificationinterface.Po
src/zmq/.deps/libbitcoin_zmq_a-zmqpublishnotifier.Po
