# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VS stuff
build
ipch
*.sdf
*.opensdf
*.suo
*.vcxproj
*.vcxproj.filters
*.sln

# VIM stuff
*.swp

# Xcode stuff
build_xc

*.user
*.user.*
*~

# build system
build.*/
/deps/
extdep/install
extdep/download
/cmake-build-*/

*.pyc

# MacOS Development
.DS_Store
# CocoaPods
Pods/
Podfile.lock
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
*.xcuserstate
profile
*.moved-aside
DerivedData
project.pbxproj

# JetBrains stuff
.idea/
bin/

# Visual Studio Code
browse.VC.db

doc/html
*.autosave
node_modules/

dependency_graph.svg


#cmake files from ./autogen.sh Themis
CMakeCache.txt
CMakeFiles/
Makefile
bench/CMakeFiles/
bench/Makefile
bench/bench
bench/cmake_install.cmake
cmake_install.cmake
eth/CMakeFiles/
eth/Makefile
eth/cmake_install.cmake
eth/eth
ethkey/CMakeFiles/
ethkey/Makefile
ethkey/cmake_install.cmake
ethkey/ethkey
ethminer/CMakeFiles/
ethminer/Makefile
ethminer/cmake_install.cmake
ethminer/ethminer
ethvm/CMakeFiles/
ethvm/Makefile
ethvm/cmake_install.cmake
ethvm/ethvm
include/
libdevcore/CMakeFiles/
libdevcore/Makefile
libdevcore/cmake_install.cmake
libdevcrypto/CMakeFiles/
libdevcrypto/Makefile
libdevcrypto/cmake_install.cmake
libethash/CMakeFiles/
libethash/Makefile
libethash/cmake_install.cmake
libethashseal/CMakeFiles/
libethashseal/Makefile
libethashseal/cmake_install.cmake
libethashseal/genesis/CMakeFiles/
libethashseal/genesis/Makefile
libethashseal/genesis/cmake_install.cmake
libethcore/CMakeFiles/
libethcore/Makefile
libethcore/cmake_install.cmake
libethereum/CMakeFiles/
libethereum/Makefile
libethereum/cmake_install.cmake
libevm/CMakeFiles/
libevm/Makefile
libevm/cmake_install.cmake
libevmcore/CMakeFiles/
libevmcore/Makefile
libevmcore/cmake_install.cmake
libp2p/CMakeFiles/
libp2p/Makefile
libp2p/cmake_install.cmake
libweb3jsonrpc/CMakeFiles/
libweb3jsonrpc/Makefile
libweb3jsonrpc/cmake_install.cmake
libwebthree/CMakeFiles/
libwebthree/Makefile
libwebthree/cmake_install.cmake
libwhisper/CMakeFiles/
libwhisper/Makefile
libwhisper/cmake_install.cmake
rlp/CMakeFiles/
rlp/Makefile
rlp/cmake_install.cmake
rlp/rlp
test/CMakeFiles/
test/CTestTestfile.cmake
test/Makefile
test/cmake_install.cmake
test/external-dependencies/CMakeFiles/
test/external-dependencies/Makefile
test/external-dependencies/cmake_install.cmake
test/fuzzTesting/CMakeFiles/
test/fuzzTesting/Makefile
test/fuzzTesting/cmake_install.cmake
test/libdevcore/CMakeFiles/
test/libdevcore/Makefile
test/libdevcore/cmake_install.cmake
test/libdevcrypto/CMakeFiles/
test/libdevcrypto/Makefile
test/libdevcrypto/cmake_install.cmake
test/libethcore/CMakeFiles/
test/libethcore/Makefile
test/libethcore/cmake_install.cmake
test/libethereum/CMakeFiles/
test/libethereum/Makefile
test/libethereum/cmake_install.cmake
test/libevm/CMakeFiles/
test/libevm/Makefile
test/libevm/cmake_install.cmake
test/libp2p/CMakeFiles/
test/libp2p/Makefile
test/libp2p/cmake_install.cmake
test/libtesteth/CMakeFiles/
test/libtesteth/Makefile
test/libtesteth/cmake_install.cmake
test/libtestutils/CMakeFiles/
test/libtestutils/Makefile
test/libtestutils/cmake_install.cmake
test/libweb3core/CMakeFiles/
test/libweb3core/Makefile
test/libweb3core/cmake_install.cmake
test/libweb3jsonrpc/CMakeFiles/
test/libweb3jsonrpc/Makefile
test/libweb3jsonrpc/cmake_install.cmake
test/libwhisper/CMakeFiles/
test/libwhisper/Makefile
test/libwhisper/cmake_install.cmake
test/testeth
utils/CMakeFiles/
utils/Makefile
utils/cmake_install.cmake
utils/libscrypt/CMakeFiles/
utils/libscrypt/Makefile
utils/libscrypt/cmake_install.cmake

libdevcore/.dirstamp
libdevcore/.deps/
libdevcrypto/.dirstamp
libdevcrypto/.deps/
libethash/.dirstamp
libethash/.deps/
libethashseal/.dirstamp
libethashseal/.deps/
libethashseal/genesis/.dirstamp
libethashseal/genesis/.deps/
libethcore/.dirstamp
libethcore/.deps/
libethereum/.dirstamp
libethereum/.deps/
libevm/.dirstamp
libevm/.deps/
libevmcore/.dirstamp
libevmcore/.deps/
utils/libscrypt/.dirstamp
utils/libscrypt/.deps/
